.user-item {
  margin: 1rem;
  width: 14rem;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.user-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-item span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: #333;
  background: #f0f0f0;
  border-radius: 6px;
}

.delete {
  background-color: #5a1a01;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: background-color 0.3s ease-in-out;
}

.user-item span > button:hover {
  background-color: #684436;
}

.user-item__content {
  padding: 0;
}

.user-item__image {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
}

.user-item:hover h2 {
  color: #222;
}

.user-item__info h3 {
  margin: 0;
}
